
<div class="hero-unit">
<h1>Welcome to Event Planner</h1>
</div>
<div class="span6">
	<div class ="span3" style="margin-bottom:10px">
<%= link_to  "Log In", login_path , class: 'btn btn-primary btn-large span1' , style: 'color:white'%>
</div>
<br />
	<div class ="span3">
<%= link_to  "Register", signup_path , class: 'btn btn-primary btn-large span1' , style: 'color:white'%>
</div>
</div>
<div class="span5">
 <%= image_tag("event.jpg")%>

</div>

</div>